.topBar {
    position: fixed;
    width: calc(100% - 80px);
    height: 60px;
    background-color: var(--secondary-color);
    top: 0;
    right: 0;
    transition: width var(--transition-normal);
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 100;
    box-shadow: var(--shadow-sm);
}

.topBar.railExpanded {
    width: calc(100% - 250px);
}

.topBarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--spacing-md);
    color: var(--light-text);
}