.mainContent {
    margin-left: 80px;
    margin-top: 60px; 
    transition: margin-left 0.3s ease; 
    padding: var(--spacing-md);
}
  
.mainContent.railExpanded {
    margin-left: 250px; 
}

.bgImage {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    overflow: hidden;
}