.mainContent {
    margin-left: 80px;
    margin-top: 60px; 
    transition: margin-left var(--transition-normal); 
    padding: var(--spacing-md);
    background-color: var(--background-color);
}
  
.mainContent.railExpanded {
    margin-left: 250px; 
}

.bgImage {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
}