.cardsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--spacing-lg);
}

.addIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-light);
}

.addIconContainer img {
  height: 64px;
  width: 64px;
}