.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: 0;
}

.selectRow {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.selectRow * {
  margin: 0;
}

.successMessage {
  color: var(--success-color);
  padding: var(--spacing-sm);
  background-color: var(--background-success-color);
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--success-color);
}