.scoreContainer {
  position: relative;
  margin-bottom: var(--spacing-sm);
}

.scoreBar {
  width: 100%;
  border-radius: var(--spacing-sm);
  overflow: hidden;
  background-color: #e0e0e0;
  height: 8px;
}

.scoreIndicator {
  border-radius: var(--spacing-sm);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  background-color: var(--primary-light)
}